*{
    margin: 0px;
    padding: 0px;

}
section{
    width:100vw;
    position: relative;
    display: flex;
    justify-content:space-around;
}
img{
    width: 100vw;
    height: 100vh;

}

section div{
    display: flex;
    align-self: center;
    position:absolute;
    border-radius: 5px;
    padding: 5px;
    border:2px solid rgb(231, 104, 58);
    color: rgb(231, 104, 58);

}

div:hover{

    border:2px solid rgb(153, 231, 36) ;
    color: rgb(153, 231, 36) ;
    transform: translateY(-3px);
    box-shadow: 0 8px 8px -4px rgb(153, 231, 36) ;


}

